*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    background-color: rgb(213, 210, 210);
    scroll-behavior: smooth;
}

// BASE

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nuosu+SIL&display=swap");

.wrapper {
    min-height: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
}

._container {
    max-width: 114rem;
    margin: 0 auto;
    box-sizing: content-box;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

@mixin font($size, $weight, $height, $spacing) {
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
    letter-spacing: $spacing;
}

%header-title {
    @include font(2rem, 700, calc(3.7 / 2 * 100%), 0.06rem);
}

%header-text {
    @include font(1.5rem, 400, calc(2.5 / 1.45 * 100%), 0.02rem);
}

%link {
    color: rgb(37, 73, 182);

    &:hover {
        color: red;
        text-decoration: underline;
    }
}

// ********************************************

// HEADER
.header {
    padding: 1rem;
    min-height: 7.4rem;

    // .header__container

    &__container {
        display: flex;
        justify-content: space-around;
    }

    // .header__title

    &__title {
        padding: 1rem 3rem;
    }

    // .header__title-link

    &__title-link {
        font-size: 4rem;
        color: black;
    }

    // .header__nav

    &__nav {
        padding: 1rem 2rem;
    }

    // .header__navigation

    &__navigation {
        display: flex;
        align-items: center;
    }
}

.navigation {
    display: flex;
    gap: 2.5rem;
    align-items: center;
    justify-content: center;

    // .navigation__item

    &__item {
        @include font(1.6rem, 400, calc(2.5 / 1.8 * 100%), 0.06rem);
        background-color: #fff;
        padding: 1rem 3rem;
        border-radius: 5px;
        border: 1px solid #274690;
        &:hover {
            background-color: #274690;
            transition: all 0.3s;
            cursor: pointer;
            & a {
                color: #fff;
                transition: all 0.3s;
            }
        }
    }

    // .navigation__link

    &__link {
        color: black;
    }
}

// ********************************************

.main {
    margin-top: 1rem;
    // .main__container

    &__container {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }
}

// HERO

.hero {
    &__container {
        display: flex;
        justify-content: space-around;
        background-color: #576da83c;
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.99);
        padding: 3rem;
    }

    // .hero__img

    &__img {
        width: 30rem;
    }

    &__img img {
        width: 17rem;
        height: 17rem;
        border-radius: 50%;
        text-align: center;
    }

    // .hero__title

    &__title {
        gap: 0.5rem;
        align-items: center;
        justify-content: center;
    }

    // .hero__name

    &__name {
        @include font(4rem, 700, calc(6 / 4 * 100%), 0.1rem);
        font-family: "Nuosu SIL", serif;
    }

    // .hero__position

    &__position {
        @extend %header-title;
        font-family: "Nuosu SIL", serif;
        color: #274690;
    }
}

// ABOUT

.about {
    // .about__conrainer

    &__container {
        padding: 3rem 3rem;
        gap: 1.5rem;
        background-color: #fff;
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.99);

        background-color: #576da83c;
    }

    // .about__title

    &__title {
        @extend %header-title;
        text-align: center;
        color: #274690;
    }

    &__body {
        gap: 1rem;
    }

    &__text {
        font-size: 1.6rem;
        font-weight: normal;
        line-height: 2.5rem;
        letter-spacing: 0.06rem;
    }
}

// EDU/LANG

.edu-lang {
    // .edu-lang__container

    &__container {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }

    // .edu-lang__education

    &__education {
        gap: 1.5rem;
        padding: 1rem 3.5rem;
        width: 50%;
        background-color: #fff;
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.99);

        background-color: #576da83c;
    }

    // .edu-lang__languages

    &__languages {
        gap: 1.5rem;
        padding: 1rem 3.5rem;
        width: 50%;
        background-color: #fff;
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.99);

        background-color: #576da83c;
    }
}

.education {
    // .education__title

    &__title {
        @extend %header-title;
        text-align: center;
        color: #274690;
    }

    // .education__list

    &__list {
        gap: 1rem;
    }

    // .education__item

    &__item {
        @extend %header-text;
        list-style: inside;
    }

    // .education__link

    &__link {
        @extend %link;
    }
}

.languages {
    // .languages__title

    &__title {
        @extend %header-title;
        text-align: center;
        color: #274690;
    }

    // .languages__list

    &__list {
        gap: 1rem;
    }

    // .languages__item

    &__item {
        @extend %header-text;
        list-style: inside;
    }
}

// SKILLS/CODE

.skills-code {
    // .skills-code__container

    &__container {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }

    // .skills-code__skills

    &__skills {
        gap: 1.5rem;
        padding: 1rem 3.5rem;
        width: 50%;
        background-color: #fff;
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.99);

        background-color: #576da83c;
    }

    // .skills-code__code

    &__code {
        gap: 1.5rem;
        padding: 1rem 4.5rem;
        width: 50%;
        background-color: #fff;
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.99);
        background-color: #576da83c;
    }
}

.skills {
    // .skills__title

    &__title {
        @extend %header-title;
        text-align: center;
        color: #274690;
    }

    // .skills__list

    &__list {
        gap: 1rem;
    }

    // .skills__item

    &__item {
        @extend %header-text;
        list-style: inside;
    }
}

.code {
    // .code__title

    &__title {
        @extend %header-title;
        text-align: center;
        color: #274690;
    }
}

pre code {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.06rem;
}

// CONTACTS/PROJECT

.contacts-project {
    // .contacts-project__container

    &__container {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }

    // .contacts-project__contacts

    &__contacts {
        gap: 1.5rem;
        padding: 1rem 3.5rem;
        width: 50%;
        background-color: #576da83c;

        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.99);
    }

    // .contacts-project__project

    &__project {
        gap: 1.5rem;
        padding: 1rem 3.5rem;
        width: 50%;
        background-color: #576da83c;
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.99);
    }
}

.contacts {
    // .contacts__title

    &__title {
        @extend %header-title;
        text-align: center;
        color: #274690;
    }

    // .contacts__list

    &__list {
        gap: 1rem;
    }

    // .contacts__item

    &__item {
        @extend %header-text;
        display: flex;
        gap: 2rem;
        align-items: center;
        padding: 0.5rem 0;
    }

    &__item img {
        width: 6%;
    }

    // .contacts__link

    &__link {
        @extend %link;
    }
}

.project {
    &__title {
        @extend %header-title;
        text-align: center;
        color: #274690;
    }

    // .project__link

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        gap: 0.8rem;
    }

    &__link {
        @extend %header-text;
        @extend %link;
    }

    &__text {
        @extend %header-text;
        list-style: inside;
    }
}

.footer {
    margin-top: 2rem;

    // .footer__container

    &__container {
        padding: 1rem 5rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        @extend %header-text;
        & a:first-child {
            @extend %link;
        }
    }

    // .footer__logo

    &__logo {
        max-width: 10rem;
        text-align: end;
        flex: 1 0 auto;
        margin-right: -4rem;
    }

    &__logo img {
        width: 60%;
    }
}

// MEDIA QUERIES

@media (max-width: 1184px) {
    ._container {
        max-width: 97rem;
    }
}

@media (max-width: 1024px) {
    ._container {
        max-width: 87rem;
    }
}

@media (max-width: 950px) {
    ._container {
        max-width: 75rem;
    }

    .navigation {
        width: 40rem;
        flex-wrap: wrap;
    }

    .header__navigation {
        padding: 1rem;
    }

    .header__title {
        justify-content: center;
    }

    pre code {
        font-size: 1.3rem;
    }
}

@media (max-width: 790px) {
    ._container {
        max-width: 60rem;
    }

    .hero__name {
        font-size: 2.9rem;
    }

    .edu-lang__container {
        flex-direction: column;
    }

    .edu-lang__education {
        width: 100%;
        padding: 2rem 3.5rem;
    }

    .edu-lang__languages {
        width: 100%;
        padding: 2rem 3.5rem;
    }

    .skills-code__container {
        flex-direction: column;
    }

    .skills-code__skills {
        width: 100%;
        padding: 2rem 3.5rem;
    }

    .skills-code__code {
        width: 100%;
        padding: 2rem 3.5rem;
    }

    .contacts-project__container {
        flex-direction: column;
    }

    .contacts-project__contacts {
        width: 100%;
        padding: 2rem 3.5rem;
    }

    .contacts-project__project {
        width: 100%;
        padding: 2rem 3.5rem;
    }
}

@media (max-width: 790px) {
    ._container {
        max-width: 39rem;
    }

    .header__title {
        padding: 1rem 1rem;
    }

    .header__title-link {
        font-size: 3rem;
    }

    .header__navigation {
        padding: 0;
    }

    .navigation__item {
        padding: 1rem 1rem;
    }

    .navigation {
        width: 32rem;
    }

    .hero__container {
        padding: 2rem;
        .hero__img img {
            width: 13rem;
            height: 13rem;
        }
    }

    .hero__img {
        width: 20rem;
    }

    .hero__name {
        font-size: 1.7rem;
    }

    .hero__position {
        font-size: 1.3rem;
    }

    .footer__container {
        padding: 1rem;
    }

    .footer__logo {
        margin-right: 0;
        max-width: 7rem;
    }

    .footer__year {
        font-size: 1.3rem;
    }
}

@media (max-width: 400px) {
    ._container {
        max-width: 33rem;
    }

    .header__title-link {
        font-size: 2rem;
    }

    .navigation {
        width: 30rem;
        gap: 0.5rem;
    }

    .hero__container {
        padding: 1rem;
    }

    .hero__img {
        width: 14rem;
    }

    pre code {
        font-size: 1.1rem;
    }
}
